body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #0d192b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#container {
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  max-width: 400px;
  background-color: #0a8967;
}

button {
  background-color: #0c5149;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #ccc;
}

button:hover {
  background-color: #45a049;
}

input[type="text"] {
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}

#score,
#time {
  margin-top: 10px;
}
